<!DOCTYPE html>
<html lang="en">
<head>
    <title>Admin Dashboard</title>
    <link rel="stylesheet" href="../static/style2.css">
</head>
<body>
    <div class="container">
        <header>
            <h1>Admin Dashboard</h1>
            <div style="display: flex; justify-content: space-between; align-items: center;">
            <nav>
                <ul>
                    <li><a href="/home">Home</a></li>
                    <li><a href="/quiz_home">Quiz</a></li>
                    <li><a href="/generate_chart/admin">Summary</a></li>
                    <li><a href="/login">Logout</a></li>
                </ul>
            </nav>
                <h3 style="padding-right: 75px;">Welcome, Admin!</h3>
                <form method="GET" action="/sub_search">
                    <input type="text" name="query" placeholder="Search for subjects">
                    <button type="submit">Search</button>
                </form>
            </div>
        </header>
        
        <section id="Home">
            {% if query %}
            <h2>Results for "{{query}}"</h2>
            {% else %}
            <h2>Subjects</h2>
            {% endif %}
            <form action="/subject">
                <button>Add New Subject</button>
            </form>
            <table>
                <tr>
                    <th>Subject Name</th>
                    <th>Description</th>
                    <th>Actions</th>
                </tr>
                {% for subject in subject_info %}
                <tr>
                    <td>
                        <details>
                            <summary>{{subject.subject_name}}</summary>
                            <table>
                                <tr>
                                    <th>Chapter Name</th>
                                    <th>Actions</th>
                                </tr>
                                {% for chapter in subject.chap_details %}
                                <tr>
                                    <td>{{chapter.chapter_name}}</td>
                                    <td>
                                        <form action="/edit_chapter/{{chapter.id}}" style="display: inline;">
                                            <button>Edit</button>
                                        </form>
                                        <form action="/delete_chapter/{{chapter.id}}" onclick="return confirm('Are you sure you want to delete this chapter?');" style="display: inline;">
                                            <button>Delete</button>
                                        </form>
                                    </td>
                                </tr>
                                {% endfor %}
                            </table>
                        </details>
                    </td>
                    <td>{{subject.sub_description}}</td>
                    <td>
                        <form action="/edit_subject/{{subject.id}}" style="display: inline;">
                            <button>Edit</button>
                        </form>
                        <form action="/delete_subject/{{subject.id}}" onclick="return confirm('Are you sure you want to delete this subject?');" style="display: inline;">
                            <button>Delete</button>
                        </form>
                        <form action="/chapter/{{subject.id}}" style="display: inline;">
                            <button>Add Chapter</button>
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </table>
        </section>
    </div>
</body>
</html>