<!DOCTYPE html>
<html lang="en">
<head>
    <title>New Chapter</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <div class="center">
        <h1>Add New Chapter</h1>
        <form action="/chapter" method="post">
            <div class="txt_field">
                <label for="chapter">Chapter Name :</label>
                <input type="text" placeholder="enter here" id="chapter" name="chapter">
            </div>
            <div class="txt_field">
                <label for="sub">Subject :</label>
                <input type="text" placeholder="enter here" id="sub" name="sub">
            </div>
            <div class="btn">
                <input type="submit" name="action" value="SAVE">
                <input type="submit" name="action" value="CANCEL">
            </div>
        </form>
    </div>
</body>
</html>