<!DOCTYPE html>
<html lang="en">

<head>
    <title>New Question</title>
    <link rel="stylesheet" href="../static/style1.css">
</head>

<body>
    <div class="container">
        <h2 style="border-bottom: 2px solid silver;">New Question</h2>

        <div class="form-group">
            <label>Question ID:</label>
            <input type="text" placeholder="Enter ID">
        </div>

        <div class="form-group">
            <label>Question Title:</label>
            <input type="text" placeholder="Enter Title">
        </div>

        <div class="form-group">
            <label>Question Statement:</label>
            <textarea rows="3" placeholder="Enter Statement"></textarea>
        </div>

        <div class="sub-container">
            <h3>Single Option Correct</h3>

            <div class="form-group">
                <label>Option 1):</label>
                <input type="text" placeholder="Enter Option 1">
            </div>

            <div class="form-group">
                <label>Option 2):</label>
                <input type="text" placeholder="Enter Option 2">
            </div>

            <div class="form-group">
                <label>Option 3):</label>
                <input type="text" placeholder="Enter Option 3">
            </div>

            <div class="form-group">
                <label>Option 4):</label>
                <input type="text" placeholder="Enter Option 4">
            </div>

            <div class="form-group">
                <label>Correct Option:</label>
                <input type="text" placeholder="Enter Correct Option">
            </div>
        </div>

        <div class="button-container">
            <input type="submit" value="save and next">
            <input type="submit" value="close">
        </div>

    </div>
</body>

</html>
