<!DOCTYPE html>
<html lang="en">
<head>
    <title>Quiz Management</title>
    <link rel="stylesheet" href="../static/style2.css">
</head>
<body>
    <div class="container">
        <header>
            <h1>Quiz Management</h1>
            <div style="display: flex; justify-content: space-between; align-items: center;">
            <nav>
                <ul>
                    <li><a href="/home">Home</a></li>
                    <li><a href="/quiz_home">Quiz</a></li>
                    <li><a href="#summary">Summary</a></li>
                    <li><a href="/login">Logout</a></li>
                </ul>
            </nav>
                <h3 style="padding-right: 75px;">Welcome, Admin!</h3>
                <form method="GET" action="/chap_search">
                    <input type="text" name="query" placeholder="Search for chapters">
                    <button type="submit">Search</button>
                </form>
            </div>
        </header>
        
        <section id="quiz_home">
            {% if query %}
            <h2>Results for "{{query}}"</h2>
            {% else %}
            <h2>Quizzes</h2>
            {% endif %}
            <table>
                <tr>
                    <th>Chapter Name</th>
                    <th>Subject</th>
                    <th>Actions</th>
                </tr>
                {% for chapter in chapter_info %}
                <tr>
                    <td>
                        <details>
                            <summary>{{chapter.chapter_name}}</summary>
                            <table>
                                <tr>
                                    <th>Quiz Name</th>
                                    <th>No. of Questions</th>
                                    <th>Duration (hh:mm)</th>
                                    <th>Deadline</th>
                                    <th>Actions</th>
                                </tr>
                                {% for quiz in chapter.quiz_details %}
                                <tr>
                                    <td>{{quiz.quiz_name}}</td>
                                    <td>{{quiz.question_details | length}}</td>
                                    <td>{{quiz.duration}}</td>
                                    <td>{{quiz.deadline}}</td>
                                    <td>
                                        <button>Edit</button> <button>Delete</button>
                                        <form action="/question/{{quiz.quiz_name}}" style="display: inline;">
                                            <button>Add Question</button>
                                        </form>
                                    </td>
                                </tr>
                                {% endfor %}
                            </table>
                        </details>
                    </td>
                    <td>{{chapter.sub_details.subject_name}}</td>
                    <td>
                        <button>Edit</button> 
                        <button>Delete</button>
                        <form action="/quiz/{{chapter.chapter_name}}" style="display: inline;">
                            <button>Add New Quiz</button>
                        </form>
                    </td>
                </tr>
                {% endfor %}